.grid {
    display: grid;
    width: 48rem;
    height: 32rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "sidebar main" "footer footer";
   background-color: #000;
    gap: 4px;
    margin-top: 2rem;
    margin-left: 20rem;
    text-align: center;
    padding-top: 5px;
}

.grid .size {
    height: 20rem;
    background-color: #be0909;
}

.grid .A {
    height: 5rem;
    background-color: #080;
    grid-area: header;
}

.grid .B {
    grid-area: sidebar;
    width: 2%;
    gap: 2px;
}

.grid .C {
    grid-area: main;
    width: 40rem;
}

.grid .D {
    height: 5rem;
    background-color: #000;
    grid-area: footer;
    color: #fff; 
}

